body {
    background-color: #000064;
    color: white;
    font-family: 'Times New Roman';
}
h1{
    padding-top: 10px;
    padding-bottom: 10px;
    margin:auto;
    color: goldenrod;
    background-color: white;
    text-align: center;
}
h2, h3{
    margin:auto;
    color: goldenrod;
    background-color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

img {
    width: 300px;
    padding: 10px;
}
a {
    color: white;
    Padding: 10px;
}